[build]
  base = "apps/frontend"
  command = "PATH=$PATH:./node_modules/.bin && next build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  NPM_FLAGS = "--legacy-peer-deps"

