[build]
  base = "apps/frontend"
  command = "npm install && node node_modules/next/dist/bin/next build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  NPM_FLAGS = "--legacy-peer-deps"

